.DS_Store
node_modules/
build/
vendor/

/www/gsaopenstudioshowcase.net/*
!/www/gsaopenstudioshowcase.net/wp-content/
/www/gsaopenstudioshowcase.net/wp-content/*
!/www/gsaopenstudioshowcase.net/wp-content/themes
/www/gsaopenstudioshowcase.net/wp-content/themes/*
!/www/gsaopenstudioshowcase.net/wp-content/themes/gsaopenstudioshowcase