body:not(.single-post) {
	article {
		transition: background-color 300ms, color 300ms;
		&:hover {
			cursor: pointer;
			
		}
		
	}
	
}

hr {
	margin: 2rem 0;
	border: none;
	border-bottom: 1px solid #000;
}


article {
	//border: 1px solid #000;
	flex: 0 1 calc(50% - 15px);
	@include breakpoint(md){
		flex: 0 1 calc(50% - 20px);		
	}
}

.single-post {
	article.intro {
		p.essay {
			display: none;
		}
		
	}

}

.single main article {
	display: flex;
	background: #FFF;
	padding: 15px;
	height: 100%;
	max-width: 1700px;
	margin: 0 auto;
	flex-flow: column nowrap;
	padding: var(--padding);
	
	@include breakpoint(sm){
		justify-content: space-between;
		flex-flow: row nowrap;
	}
	.summary p, h5 {
		font-size: 16px;
		@include breakpoint(sm){
			font-size: 18px;	
		}
	}

	.works {
		background-color: #FFF;
		flex: 0 1 calc(66.6% - 15px);
		@include breakpoint(md){
			flex: 0 1 calc(75% - 15px);			
		}
		position: relative;
		margin-bottom: 1rem;
		@include breakpoint(sm){

			margin-bottom: 0;
		}
		iframe {
			background: #f2f2f2;
		}
		.work {
			.image-container {
				height: 70vw;
				@include breakpoint(xsm){
					height: 60vw;	
				}
				
				position: relative;
				overflow: hidden;

				div {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}
			}
			width: 100%;
			position: relative;
			margin-bottom: 2rem;
			@include breakpoint(xsm){
				margin-bottom: 3rem;				
			}
			img {
				border: 1px solid #ddd;
				width: 100%;
				height: auto;
				display: block;
			}
			.caption {
				padding-left: var(--padding);
				margin-top: 1rem;

				@include breakpoint(md){
					max-width: 50%;					
				}

			}
		}
	}
	.info {
		position: sticky;
		align-self: flex-start;
		top: var(--padding);
		
		
		flex: 0 1 calc(33.3% - 15px);
		@include breakpoint(md){
			flex: 0 1 calc(25% - 15px);
		}

		@include breakpoint(md){
			padding-left: var(--padding);

		}
		.about {
			a:link {
				text-decoration: underline;
			}
		}
		.inner {
			box-shadow: none;
			left: auto;
			right: auto;
		}
	}
}

article {
	h2 {
		font-size: 22px;
		@include breakpoint(xsm){
			font-size: 28px;	
		}
		
		@include breakpoint(md){
			font-size: 32px;
		}
		margin-bottom: 1rem;
		display: block;
		//padding: 0 0 0 15px;
		line-height: 1.1;
		hyphens: none;
	}
	
	p, div, h5 {
		font-size: 14px;
		@include breakpoint(xsm){
			font-size: 16px;	
		}
		
		margin-bottom: 0.7rem;
	}
}
.home article {

	iframe {
		width: 100%;
		height: 800px;
	}
	
	position: relative; 
	.more {
		padding-top: 8px;
		color: #999;
		text-align: right;
		font-style: italic;
	}
	div {
		margin-bottom: 0;
	}

	&:nth-child(even){

		@include breakpoint(sm){
			position: relative;
			top: -250px;			
		}
	}
	.info {

		background-color: #FFF;
		padding: calc(var(--padding) * 0.8) var(--padding) var(--padding) var(--padding);
		width: 75%;
		left: 12.5%;
		position: relative;
		top: -25px;
		@include breakpoint(xsm){
			top: -10.5%;
		}
		box-shadow: 0 0 20px rgba(0,0,0,0.1);
		z-index: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		h2 {
			margin: 0;
		}

	}
	.works {
		height: var(--slide-height);
		position: relative;
		.work {
			overflow: hidden;
			background-color: #FFF;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			transition: opacity 500ms;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}



@for $i from 0 through 40 {
	.works[data-idx="#{$i}"] {
		.work:nth-child(#{$i+1}){
			opacity: 1;
		}
		
	}
}
